body {
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(to right, black, white);
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    font-size: 3em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
  }
  
  section {
    margin-bottom: 1em;
  }
  
  section h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  section p {
    line-height: 1.5;
  }
  
  section ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  footer {
    text-align: center;
    font-size: 0.8em;
    color: white;
    padding: 1em 0;
  }
  
   /* responsive design  */

   /* Add styles for desktop screens */
@media only screen and (min-width: 800px) {
    /* Add styles here */
  }
  
  /* Add styles for tablet screens */
  @media only screen and (min-width: 600px) and (max-width: 799px) {
    /* Add styles here */
  }
  
  /* Add styles for mobile screens */
  @media only screen and (max-width: 599px) {
    /* Add styles here */
  }
  